{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
        .date-cutter {
            max-width: 10ch;
            overflow: hidden;
            white-space: nowrap;
        }
        #book.htmx-swapping {
            opacity: 0;
            transition: opacity 400ms ease-out;
        }
        #book.htmx-swapping #deleteButton .to-replace {
            display: none;
        }
        #book.htmx-swapping #deleteButton .replacer {
            display: inline;
        }

        .htmx-indicator {
            opacity: 0;
            transition: opacity 200ms ease-in;
        }
        .htmx-request .htmx-indicator {
            opacity:1
        }
        .htmx-request .to-replace {
            display: none;
        }
        .htmx-request .replacer {
            display: inline;
        }
        .htmx-request.replacer {
            display: inline;
        }
        .svg-slate-400 {
            filter: invert(71%) sepia(7%) saturate(792%) hue-rotate(176deg) brightness(90%) contrast(88%);
        }
        </style>

        <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/uno.global.js"></script>
        <script src="/static/js/htmx.min.js"></script>
    </head>
    <body class="m-0 p-0 font-sans text-base bg-slate-800 text-slate-200">
        <header class="flex justify-center items-center h-20 shadow shadow-slate-900 bg-slate-700">
            <input type="search" name="q" placeholder="Beware of Chiken"
                class="w-10/12 md:w-64 h-8"
                hx-get="/search/"
                hx-trigger="keyup delay:200ms changed"
                hx-target="#bookList"
                hx-indicator="next #spinner">

            <div class="w-0 h-0 ml-2">
                <img id="spinner" class="relative bottom-3 animate-spin svg-slate-400 hidden replacer htmx-indicator" src="/static/icons/loader.svg" alt="loading indicator">
            </div>
        </header>

        <section class="flex flex-col md:flex-row gap-2 justify-center w-full mt-4">
            <main class="flex flex-col gap-2 order-2 md:order-1 max-w-3xl w-auto md:w-full p-2">
                <form id="addBook" class="flex flex-col flex-wrap gap-2 p-4 border-2 border-solid border-slate-700"
                    hx-post="/book/" 
                    hx-target="#bookList" 
                    hx-swap="afterbegin"
                    hx-trigger="submit">

                    <label for="bookUrl">Url</label>
                    <input type="url" id="bookUrl" name="bookUrl" placeholder="https://archiveiofou..." required>
                    <label for="bookName">Name</label>
                    <input type="text" id="bookName" name="bookName" placeholder="Folklore Worm..." required>
                    <label for="bookChapter">Last Viewed Chapter</label>
                    <input type="number" step="0.01" id="bookChapter" name="bookChapter" placeholder="4" required>

                    <div class="flex items-center ml-auto mt-2">
                        <img id="spinner" class="bottom-3 animate-spin svg-slate-400 htmx-indicator" src="/static/icons/loader.svg" alt="loading indicator">
                        <button class="w-14 h-10 ml-2 bg-slate-700 hover:bg-slate-600 border-0 border-b-2 active:translate-y-0.5 border-slate-800" 
                            type="submit">
                            <img class="svg-slate-400" src="/static/icons/book-plus.svg" alt="Plus button svg">
                        </button>
                    </div>
                </form>

                <h1>Shelf</h1>

                <section id="bookList" class="flex flex-col gap-2">
                    {{ template "bookList" . }}
                </section>
            </main>

            {{ template "recentUpdates" . }}

        </section>
    </body>
</html>
{{ end }}

{{ block "recentUpdates" . }}
<aside id="recentUpdates" class="w-auto max-w-xs h-min mx-2 p-2 order-1 md:order-2 shadow shadow-slate-900 bg-slate-700"
    hx-get="/updates/"
    hx-target="this"
    hx-select="#recentUpdates"
    hx-swap="outerHTML"
    hx-trigger="newAction from:body">
    <h1>Recent Updates</h1>
    <div id="updates">
        {{ range .Updates }}
        <p><span class="text-sm font-mono text-slate-400">{{ .Date }}</span> - {{ .Action }}</p>
        {{ end }}
    </div>
</aside>
{{ end }}

{{ block "bookList" . }}
{{ range .Results }}
{{ block "book" . }}
<div id="book" class="flex items-center p-2 shadow shadow shadow-slate-900 bg-slate-700 border-0 border-l-4 border-solid border-{{ .Color }}-400">
    <a class="text-slate-200 text-base truncate font-semibold no-underline min-w-0 max-w-xs md:max-w-sm lg:max-w-lg my-4"
        href="{{ .Url }}">
        {{ .Name }}
    </a>

    <div class="flex flex-row ml-auto pl-8 items-center">
        <div class="flex flex-col">
            <p class="my-0 date-cutter font-mono text-slate-400">{{ .DateCreated }}</p>
            <p class="my-0 date-cutter font-mono text-slate-500">{{ .DateUpdated }}</p>
        </div>

        <h2 class="text-slate-500 text-2xl text-right w-14 ml-2 my-0">{{ .CurrentChapter }}</h2>

        <div class="flex flex-col gap-1 ml-2">
            <button class="w-8 h-8 ml-2 bg-slate-600 hover:bg-slate-500 border-0 border-b-2 active:translate-y-0.5 border-slate-700" 
                hx-get="/book/{{ .Id }}/edit"
                hx-target="closest #book">
                <img class="to-replace svg-slate-400" src="/static/icons/pencil.svg" alt="Delete icon">
                <img class="replacer animate-spin svg-slate-400 hidden htmx-indicator" src="/static/icons/loader.svg" alt="loading indicator">
            </button>
            <button id="deleteButton" class="w-8 h-8 ml-2 bg-slate-600 hover:bg-slate-500 border-0 border-b-2 active:translate-y-0.5 border-slate-700" 
                hx-delete="/book/{{ .Id }}/"
                hx-swap="delete swap:400ms"
                hx-target="closest #book"
                hx-confirm="Are you sure you want to delete this book">
                <img class="to-replace svg-slate-400" src="/static/icons/trash.svg" alt="Delete icon">
                <img class="replacer animate-spin svg-slate-400 hidden htmx-indicator" src="/static/icons/loader.svg" alt="loading indicator">
            </button>
        </div>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}


{{ block "bookEdit" . }}
<form class="flex flex-row flex-wrap items-center w-full"
    hx-patch="/book/{{ .Id }}/" hx-target="body" hx-trigger="submit">
    <div class="flex flex-col w-10/12">
        <label for="bookUrl">Url</label>
        <input type="url" id="bookUrl" name="bookUrl" value="{{ .Url }}" required>
        <label for="bookName">Name</label>
        <input type="text" id="bookName" name="bookName" value="{{ .Name }}" required>
        <label for="bookChapter">Last Viewed Chapter</label>
        <input class="w-12" type="number" id="bookChapter" name="bookChapter" value="{{ .CurrentChapter }}" required>
    </div>

    <button class="ml-auto w-8 h-8 ml-2 bg-slate-600 hover:bg-slate-500 border-0 border-b-2 active:translate-y-0.5 border-slate-700" 
        type="submit">
        <img class="to-replace svg-slate-400" src="/static/icons/pencil.svg" alt="Delete icon">
        <img class="replacer animate-spin svg-slate-400 hidden htmx-indicator" src="/static/icons/loader.svg" alt="loading indicator">
    </button>
</form>

<button class="ml-2 w-8 h-8 bg-slate-600 hover:bg-slate-500 border-0 border-b-2 active:translate-y-0.5 border-slate-700"
    hx-get="/" hx-target="body" hx-swap="outerHTML">
    <img class="to-replace svg-slate-400" src="/static/icons/cancel.svg" alt="Delete icon">
    <img class="replacer animate-spin svg-slate-400 hidden htmx-indicator" src="/static/icons/loader.svg" alt="loading indicator">
</button>
{{ end }}
